body{
  background-color: #d4eaffe8;
  text-align: left;
}
header{
  background-color: #0080ffde;
  padding: 0.1em;
}
.opinnotTaulukko{
  background-color: #0080ff54;
  text-align: center;
}
.yhteydenottoLomake label{
  display: block;
}